* {
    margin: 0;
    padding: 0;
}

main {
    margin: 20px 10px 0 10px;
    padding: 30px;
    border: 3px solid blueviolet;
    overflow: auto;
}

section {
    position: relative;
    background-color: yellowgreen;
    height: 450px;
}


/* center */

.center {
    text-align: center;
}


/* header */

header {
    margin: 20px 10px 0 10px;
    border: 3px solid blueviolet;
}


/* homePage */


/* .homePage {
    text-align: center;
} */

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

li {
    margin: 20px;
}